<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <base href="/">
    <title>Eureka - Last N events</title>
    <link rel="stylesheet" type="text/css" href="static/css/wro.css">
</head>
<body id="three">

<!--[if lt IE 7]>
<p>You are using an <strong>outdated</strong> browser. Please upgrade your browser to improve your experience.</p>
<![endif]-->

<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href=""><span></span></a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="">Home</a>
                </li>
                <li>
                    <a href="/lastn">Last 1000 since startup</a>
                </li>
            </ul>
        </div>
    </div>
</nav>



<div class="container-fluid xd-container">
    <h1>System Status</h1>
    <div class="row">
        <div class="col-md-6">
            <table id='instances' class="table table-condensed table-striped table-hover">
                <tr>
                    <td>Environment</td>
                    <td>test</td>
                </tr>
                <tr>
                    <td>Data center</td>
                    <td>default</td>
                </tr>
            </table>
        </div>
        <div class="col-md-6">
            <table id='instances' class="table table-condensed table-striped table-hover">
                <tr>
                    <td>Current time</td>
                    <td>2018-11-07T21:03:11 +0800</td>
                </tr>
                <tr>
                    <td>Uptime</td>
                    <td>00:34</td>
                </tr>
                <tr>
                    <td>Lease expiration enabled</td>
                    <td>true</td>
                </tr>
                <tr>
                    <td>Renews threshold</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>Renews (last min)</td>
                    <td>4</td>
                </tr>
            </table>
        </div>
    </div>


    <h1>DS Replicas</h1>
    <ul class="list-group">
        <li class="list-group-item"><a href="http://localhost:8450/eureka/">localhost</a></li>
    </ul>


    <div id="xd-jobs" class="tab-pane active col-md-12">
        <ul class="nav nav-tabs" role="tablist" id="myTab">
            <li class="active"><a data-toggle="tab" href="#cancelled">Last 1000 cancelled leases</a></li>
            <li><a data-toggle="tab" href="#registered">Last 1000 newly registered leases</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane" id="cancelled">
                <table id='lastNCanceled' class="table table-striped table-hover">
                    <thead>
                    <tr><th>Timestamp</th><th>Lease</th></tr>
                    </thead>
                    <tbody>
                    <tr><td colspan="2">No results available</td></tr>
                    <tbody>
                </table>
            </div>
            <div class="tab-pane" id="registered">
                <table id='lastNRegistered' class="table table-striped table-hover">
                    <thead>
                    <tr><th>Timestamp</th><th>Lease</th></tr>
                    </thead>
                    <tbody>
                    <tr><td>2018-11-7 20:49:17</td><td>OAUTH-SERVER(10.211.96.180:oauth-server:8768)</td></tr>
                    <tr><td>2018-11-7 20:49:17</td><td>OAUTH-SERVER(10.211.96.180:oauth-server:8768)</td></tr>
                    <tr><td>2018-11-7 20:49:16</td><td>OAUTH-SERVER(10.211.96.180:oauth-server:8768)</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="static/js/wro.js" ></script>
<script type="text/javascript">
    $(function () {
        $('#myTab a:last').tab('show')
    })
</script>
</body>
</html>

